In [1]:
import pandas as pd

In [3]:
data=pd.read_csv('ml2_train.csv')

In [7]:
data.isnull().sum()

Serial Number       0
Main Office         0
Branch Number       0
Established Date    0
Acquired Date       0
City                0
County              0
State               0
2010 Deposits       0
2011 Deposits       0
2012 Deposits       0
2013 Deposits       0
2014 Deposits       0
2015 Deposits       0
2016 Deposits       0
dtype: int64

In [6]:
data.fillna(0,inplace=True)

In [41]:
data.head()

,Serial Number,Main Office,Branch Number,Established Date,Acquired Date,City,County,State,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits,2016 Deposits
0,1,0,2866,02/06/1910,11/13/2004,Wales,Waukesha,WI,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0,37564
1,2,0,2867,02/28/1910,11/13/2004,Germantown,Washington,WI,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0,106177
2,3,0,2868,05/06/1907,11/13/2004,Brookfield,Waukesha,WI,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0,145054
3,4,0,2869,06/20/1936,11/13/2004,Pewaukee,Waukesha,WI,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0,85996
4,5,0,2870,04/22/1963,11/13/2004,Waukesha,Waukesha,WI,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0,81706

In [10]:
t10=data['2010 Deposits'].tolist()
t11=data['2011 Deposits'].tolist()
t12=data['2012 Deposits'].tolist()
t13=data['2013 Deposits'].tolist()
t14=data['2014 Deposits'].tolist()
t15=data['2015 Deposits'].tolist()

In [12]:
lis=[]
res=[]
check=[]
for i in range(0,int(len(data))):
    lis.append([t10[i],t11[i],t12[i],t13[i],t14[i]])
    res.append([t15[i]])
    check.append([t11[i],t12[i],t13[i],t14[i],t15[i]])

In [14]:
from sklearn import tree
#features = [[140,1], [130,1], [150,0], [170, 0]]
#labels = [0,0,1,1]

clf = tree.DecisionTreeClassifier()
clf = clf.fit(lis, res)
a= (clf.predict(check))

In [20]:
result=pd.Series((a.tolist()))
result

0        32832.0
1       100825.0
2       270304.0
3        83350.0
4        76049.0
5       117224.0
6       142765.0
7       185721.0
8        62774.0
9        59004.0
10       71130.0
11       57362.0
12      116941.0
13       87041.0
14       87457.0
15       74870.0
16       48398.0
17       28334.0
18       36353.0
19       74147.0
20       34508.0
21      199644.0
22       64471.0
23       68152.0
24      118005.0
25       73019.0
26      116975.0
27       47718.0
28      415979.0
29       34554.0
          ...
3760     21968.0
3761         0.0
3762     13003.0
3763     13003.0
3764     24944.0
3765     14459.0
3766     12561.0
3767     12865.0
3768     10796.0
3769      1553.0
3770      4660.0
3771     21241.0
3772         0.0
3773         0.0
3774         0.0
3775         0.0
3776         0.0
3777         0.0
3778         0.0
3779         0.0
3780         0.0
3781         0.0
3782         0.0
3783         0.0
3784         0.0
3785         0.0
3786         0.0
3787         0.0
3788         0.0
3789         0.0
Length: 3790, dtype: float64

In [170]:
new=pd.DataFrame(result,columns=['2016 Deposits'])
new['Serial Number']=range(0,int(len(data)))
new.drop('2016 Deposits',axis=1,inplace=True)
new['Deposits 2016']=result
new=new.sort_values('Deposits 2016')
new=new.reset_index()
new.drop('index',1,inplace=True)
new.to_csv('Results.csv',index=False)

In [40]:
new[new[new['Deposits 2016']>=20000]<=90000].sort_values('Deposits 2016').dropna()

In [41]:
first=new[new[new['Deposits 2016']>=20000]<=90000].sort_values('Deposits 2016').dropna()
sec=new[new['Deposits 2016']<20000].sort_values('Deposits 2016').dropna()
third=new[new['Deposits 2016']>20000].sort_values('Deposits 2016').dropna()

In [42]:
final=first.append(sec).append(third).round(0)

In [43]:
final['Serial Number']=final['Serial Number'].astype(int)
final['Deposits 2016']=final['Deposits 2016'].astype(int)

In [45]:
final.to_csv('Results.csv',index=False)

In [194]:
final

      Serial Number  Deposits 2016
66              399          20111
67             2333          20150
68             1149          20210
69             1152          20267
70             2727          20281
71             2889          20304
72             2876          20327
73             2228          20485
74             3137          20556
75              122          20566
76             2105          21088
77              138          21140
78             2956          21180
79             2929          21228
80             3035          21230
81             3020          21667
82             2400          21956
83             2575          21984
84             3172          21987
85             2624          22001
86             2857          22025
87              554          22033
88             3100          22095
89             2693          22312
90             2398          22405
91             2966          22430
92              490          22501
93               63          22511
94              130          22527
95             2650          22989
...             ...            ...
3135           1570         525914
3136            734         534617
3137           1272         540167
3138             55         547519
3139           1336         552525
3140           1607         562855
3141            607         582558
3142           3203         592890
3143           1038         620305
3144           1225         642356
3145            262         661881
3146            867         676793
3147           1568         712353
3148           1389         716181
3149           1037         893642
3150           1086         963796
3151           1024         966311
3152            733        1200216
3153           1493        1275850
3154            269        1923234
3155           2602        2603708
3156            202        3122265
3157           1228        4327827
3158             60        5373470
3159            682        5676214
3160           1285        6232894
3161           3016        8725951
3162            515        8828754
3163           1115       27590173
3164            601      352590940

[4886 rows x 2 columns]

In [107]:
avg = data['2010 Deposits'].div(data['2011 Deposits']) + data['2011 Deposits'].div(data['2012 Deposits']) + data['2012 Deposits'].div(data['2013 Deposits']) + data['2013 Deposits'].div(data['2014 Deposits'])  + data['2014 Deposits'].div(data['2015 Deposits']) + data['2015 Deposits'].div(data['2016 Deposits'])

In [48]:
data['2010 Deposits'].div(data['2011 Deposits'])

0       0.891789
1       0.980376
2       0.871352
3       0.926676
4       0.888724
5       0.923665
6       0.900023
7       0.881039
8       0.995297
9       1.012159
10      0.963306
11      0.950234
12      0.915129
13      0.856808
14      0.921019
15      0.990058
16      1.011095
17      0.971659
18      0.981923
19      0.868572
20      0.913513
21      0.826748
22      0.922671
23      0.908534
24      0.913310
25      0.845675
26      1.532575
27      1.264406
28      0.880907
29      0.975784
          ...
3760         NaN
3761         NaN
3762         NaN
3763         NaN
3764         NaN
3765         NaN
3766         NaN
3767         NaN
3768         NaN
3769         NaN
3770         NaN
3771         NaN
3772         NaN
3773         NaN
3774         NaN
3775         NaN
3776         NaN
3777         NaN
3778         NaN
3779         NaN
3780         NaN
3781         NaN
3782         NaN
3783         NaN
3784         NaN
3785         NaN
3786         NaN
3787         NaN
3788         NaN
3789         NaN
Length: 3790, dtype: float64

In [108]:
result=data['2016 Deposits'].div(avg/6)

In [119]:
new=pd.DataFrame(result,columns=['2016 Deposits'])
new['Serial Numer']=range(0,int(len(data)))
new.drop('2016 Deposits',axis=1,inplace=True)
new['Deposits 2016']=result
new=new.reset_index()
#new=new.sort_values('Deposits 2016')
new.drop('index',1,inplace=True)
#new.to_csv('Results.csv',index=False)
new.fillna(0,inplace=True)

In [149]:
first=new[new[new['Deposits 2016']>=20000]<=90000].sort_values('Deposits 2016').dropna()
sec=new[new['Deposits 2016']<20000].sort_values('Deposits 2016').dropna()
third=new[new['Deposits 2016']>20000].sort_values('Deposits 2016').dropna()

In [150]:
final=first.append(sec).append(third)

In [151]:
final.to_csv('Results.csv',index=False)

In [152]:
final

      Serial Numer  Deposits 2016
399          399.0   2.011083e+04
2333        2333.0   2.015021e+04
1149        1149.0   2.021012e+04
1152        1152.0   2.026659e+04
2727        2727.0   2.028142e+04
2889        2889.0   2.030364e+04
2876        2876.0   2.032696e+04
2228        2228.0   2.048518e+04
3137        3137.0   2.055614e+04
122          122.0   2.056624e+04
2105        2105.0   2.108827e+04
138          138.0   2.114024e+04
2956        2956.0   2.118019e+04
2929        2929.0   2.122822e+04
3035        3035.0   2.122980e+04
3020        3020.0   2.166732e+04
2400        2400.0   2.195558e+04
2575        2575.0   2.198431e+04
3172        3172.0   2.198662e+04
2624        2624.0   2.200055e+04
2857        2857.0   2.202453e+04
554          554.0   2.203344e+04
3100        3100.0   2.209537e+04
2693        2693.0   2.231210e+04
2398        2398.0   2.240452e+04
2966        2966.0   2.242956e+04
490          490.0   2.250141e+04
63            63.0   2.251129e+04
130          130.0   2.252705e+04
2650        2650.0   2.298902e+04
...            ...            ...
1570        1570.0   5.259141e+05
734          734.0   5.346170e+05
1272        1272.0   5.401668e+05
55            55.0   5.475188e+05
1336        1336.0   5.525255e+05
1607        1607.0   5.628550e+05
607          607.0   5.825584e+05
3203        3203.0   5.928896e+05
1038        1038.0   6.203051e+05
1225        1225.0   6.423558e+05
262          262.0   6.618810e+05
867          867.0   6.767926e+05
1568        1568.0   7.123529e+05
1389        1389.0   7.161808e+05
1037        1037.0   8.936421e+05
1086        1086.0   9.637960e+05
1024        1024.0   9.663106e+05
733          733.0   1.200216e+06
1493        1493.0   1.275850e+06
269          269.0   1.923234e+06
2602        2602.0   2.603708e+06
202          202.0   3.122265e+06
1228        1228.0   4.327827e+06
60            60.0   5.373470e+06
682          682.0   5.676214e+06
1285        1285.0   6.232894e+06
3016        3016.0   8.725951e+06
515          515.0   8.828754e+06
1115        1115.0   2.759017e+07
601          601.0   3.525909e+08

[5511 rows x 2 columns]